.main-nav {
  
  display: flex; 
  justify-content: space-between;
  padding: 20px 0px 10px 0px; 
  align-items: center; 
  border-bottom: 1px solid #e2e2e2; 
  
  
  
}

.left-nav > ul,
.right-nav > ul {
  display: flex; 
  align-items: center;
  
  
  
}

.left-nav {
  

  > ul {
    > li {
      font-family: sans-serif; 
      font-size: 12px;
      text-transform: uppercase; 
      font-weight: bold; 
      margin-right: 30px;
      
      
    }
  }

  span {

  }
}

.right-nav  {
  
  

  > ul {
    

    > li {
      margin-right: 5px; 
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {
    font-size: 16px;
   
  }

  .i:hover {
    color: #f7f7f5; 

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

 background-color: #f7f7f5;

}
