<div class="masthead">
    <div class="language-nav">
        <ul>
            <li class="first-link"><a href="">CSS</a></li> 
            <li><a href="">HTML</a></li>
            <li><a href="">Javascript</a></li>
            <li><a href="">Ruby</a></li>
        </ul>
    </div>

     <img class="logo" src="/assets/AA_Times_Logo.png">

    <div class="masthead-links">
        <ul>
            <li class="date">Tuesday, October 18, 2016</li> 
            <li class="underline"><i class="far fa-newspaper"></i>Today’s Paper</li>
            <li class="underline"><i class="fas fa-video"></i>Video</li>
            <li><button>77°F</button></li>
            <li><button>AAO<strong> +100%</strong></button></li>
        </ul>
    </div>

   
</div>



